.grey {
    background-color: #333333;
    border: 0.5px solid white;
    padding-top: 7%;

}

.black {
    background-color: black;
    border: 0.5px solid white;
    padding-top: 7%;

}

.orange {
    background-color: #FF7F2A;
    border: 0.5px solid white;
    padding-top: 7%;

}

.yellow {
    background-color: #FFCC00;
    border: 0.5px solid white;
    padding-top: 7%;
}


@media (max-width: 600px) {
    body {min-width: 385px;}
}